body {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 32px;
}

.button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: #ffa500;
  font-family: inherit;
  font-weight: 700;
  font-size: 32px;
  color: white;
  border-radius: 14px;
  line-height: 40px;
  cursor: pointer;
  box-shadow: 0 10px #e09201, 0px 10px 13px #888888;
  position: relative;
}

.button:hover {
  background-color: #ff9933;
}

.button:active {
  top: 7px;
  box-shadow: 0 3px #e09201, 0px 3px 6px #888888;
}
