body {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 32px;
}

.button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: #ffa500;
  font-family: inherit;
  font-weight: 700;
  font-size: 32px;
  color: white;
  border-radius: 14px;
  line-height: 40px;
  cursor: pointer;
  box-shadow: 0 10px #e09201, 0px 10px 13px #888888;
  position: relative;
}

.button:hover {
  background-color: #ff9933;
}

.button:active {
  top: 7px;
  box-shadow: 0 3px #e09201, 0px 3px 6px #888888;
}

.button_moore {
  display: none;
  margin: 50px auto;
}

.gallery {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 15px;
}
